<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Port" value="1699"/>
    <add key="Size" value="1280,720"/>
    <add key="Location" value="0,0"/>
    <add key="AutoPlay" value="true"/>
    <add key="Loop" value="false"/>

    <!--待机动画 默认根目录下 screen.mp4 如不存在该文件，则使用待机图片-->
    <add key="StandbyVideo" value=""/>
    <!--待机图片切换时间-->
    <add key="ImageDuration" value="0:0:3"/>
    <!--解码设置：Local，FFmpeg，Vlc-->
    <add key="Codec" value="Vlc"/>

    <!--联动（串口指令）-->
    <add key="Com" value=""/>
    <!--开机时-->
    <add key="OnStarted" value=""/>
    <!--关机前-->
    <add key="OnShutdown" value=""/>
    <!--影片开始播放-->
    <add key="OnPlaying" value=""/>
    <!--影片停止-->
    <add key="OnStop" value=""/>
  </appSettings>
</configuration>