<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Port" value="1699"/>
    <add key="Size" value="1280,720"/>
    <add key="Location" value="100,100"/>
    <add key="AutoPlay" value="true"/>
    <add key="Loop" value="false"/>
    <add key="ImageDuration" value="0:0:3"/>
    <!--解码设置：Local，FFmpeg，Vlc-->
    <add key="Codec" value=""/>
    
    <!--联动 使用网络虚拟串口进行映射-->
    <add key="Com" value="com3"/>
    <!--发送的数据，多组数据以 [,] 分隔；16进制以 [0x] 开头-->
    <add key="StartPlay" value="0xFE050000FF009835,play"/>
    <add key="OnStoped" value="0xFE050000FF009835,stop"/>
  </appSettings>
</configuration>