<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Port" value="1699"/>
    <add key="Size" value="1280,720"/>
    <add key="Location" value="100,100"/>
    <add key="AutoPlay" value="false"/>
    <add key="Loop" value="false"/>
    <add key="ImageDuration" value="0:0:3"/>
    <!--解码设置：Local，FFmpeg，Vlc-->
    <add key="Codec" value=""/>
  </appSettings>
</configuration>