<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FFME.Windows" version="4.1.290" targetFramework="net461" developmentDependency="true" />
  <package id="FFmpeg.AutoGen" version="4.1.0.2" targetFramework="net461" />
  <package id="Meta.Vlc" version="18.12.31" targetFramework="net461" developmentDependency="true" />
  <package id="Meta.Vlc.Wpf" version="18.12.31" targetFramework="net461" developmentDependency="true" />
</packages>